<!DOCTYPE html>

<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
    <h1>OOPS! Error 404 was happened</h1>
    {{>footer}}
</body>

</html>